.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.listitems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  margin-left: 0px;
}

.blog-list {
  width: 70%;
  margin: auto;
  padding-left: 0px;
}
